.circle {
  background: "blue";
  weight: "fit-content";
  height: "fit-content";
  padding: "12px";
  border-radius: "12px";
  margin: "12px";
}

.input {
  border: "none";
  font-family: "sans-serif";
  border-radius: "13px";
  padding: "12px";
  margin: "12px";
}

.nav {
  background: "black";
  display: "flex";
  justify-content: "center";
  padding: "12px";
  margin: "12px";
}

.header {
  font-family: "sans-serif";
  font-weight: 600;
  color: "green"
}
